body{
    margin: 0%;
}
main{
    margin: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: gray;
}
.navbar b{
    width: 1017px;
    color: gray;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: gray;
}
.navbar a:hover{
    background-color: rgb(107, 107, 107);
}
.navbar li{
    float: left;
}
canvas{
    align-items: center;
}
.back a:hover{
    background-color: rgb(107, 107, 107);
}